
.profile {
    /* float: left; */ /*have the content float at left*/
    width: 300px;
    background-color: #cccccc;
    padding: 10px;
}

.player-name {
    font-size: 30px;
    font-weight: bold;
}

.profile-pic {
    width: 100%;
}

.team-pic {
    width: 50%;
}

.profile-entry {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px;
}

.profile-entry-left {
    text-align: left;
    font-weight: bold;
}

.profile-entry-right {
    text-align: right;
    flex: 1;
}
