
.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 35px;
    float: left;
    padding-left: 40px;
}

.App-header {
    /* nav bar */
    background-color: #1D428A;
    /*height: 150px;*/
    text-align: left;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-bottom: 70px;
}